.intro {
    margin-left: 60px;
}
.path-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;    
}

.log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

  
